// Colors
$white: hsl(0, 0%, 100%);
$lightGray: hsl(212, 45%, 89%);
$grayishBlue: hsl(220, 15%, 55%);
$darkBlue: hsl(218, 44%, 22%);

// Font Size
$font-sm: 0.875rem; // 14px
$font-md: 1.25rem; // 20px